@*<style>
        .bar {
          fill: steelblue;
        }

        .bar:hover {
          fill: brown;
        }

        .axis--x path {
          display: none;
        }
    </style>*@
<style>
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .line {
        fill: none;
        stroke: #70C6FF;
        stroke-width: 1.5px;
    }

    .tText {
        font-size: 30px;
    }

    .overlay {
        fill: none;
        pointer-events: all;
    }

    .focus circle {
        fill: none;
        stroke: #70C6FF;
    }

    .area {
        fill: #70C6FF;
    }
</style>
<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <h1 class="headerheight">Current Temperature</h1>
        </div>
        <div class="row">
            <div class="biggerbox">
                <div class="carousel">
                    <div class="a"><p>Swamis</p><div class="box"><div id="SwamisCurr" class="innerbox"></div></div></div>
                    <div class="b"><p>De Pree</p><div class="box"><div class="innerbox">68°F</div></div></div>
                    <div class="c"><p>Cardiff</p><div class="box"><div class="innerbox">100°F</div></div></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="right btn btn-fmt">Next</div>
            <div class="instructions">Rotate Left or Right</div>
            <div class="left btn btn-fmt">Prev</div>
        </div>
        <div class="row">
            <div class="adjustbutton"><a class="btn btn-fmt page-scroll landingbutton" href="#adjust">Adjust <br /> Temperature</a></div>
            <div class="chartsbutton"><a class="btn btn-fmt page-scroll landingbutton" href="#charts">Scroll To <br /> Charts</a></div>
        </div>
    </div>
</section>
<!-- About Section -->
<section id="about" class="about-section">
    <div class="container">
        <h1 style="padding-bottom:40px;">Core Values</h1>
        <div class="row" style="min-height: 250px">
            <div id="fil" class="col-lg-4 text-center hide" data-animate="fadeInLeft">
                <i class="fa fa-lightbulb-o fa-7x fmtcolor" aria-hidden="true"></i>
                <h6>Innovation</h6>
                <p class="cv">The latest demonstration of FMT's Core Value. We created this IoT Temperature Sensor to showcase to potential clients an interesting project using the Particle Photon and Azure.</p>
            </div>
            <div id="fid" class="col-lg-4 text-center hide" data-animate="fadeInDown">
                <i class="fa fa-free-code-camp fa-7x fmtcolor" aria-hidden="true"></i>
                <h6>Passion</h6>
                <p class="cv">Every team member of the IoT Project ethusiastically worked towards the completion of this project.</p>
            </div>
            <div id="fir" class="col-lg-4 text-center hide" data-animate="fadeInRight">
                <i class="fa fa-handshake-o fa-7x fmtcolor" aria-hidden="true"></i>
                <h6>Collaboration</h6>
                <p class="cv">The IoT Team performed their task in accordance with our project timeline and with our combined efforts, finish this project in a timely manner.</p>
            </div>
        </div>
        <hr />
        <div class="row" style="min-height: 250px">
            <div id="fiu" class="col-lg-6 text-center hide" data-animate="fadeInUp">
                <i class="fa fa-balance-scale fa-7x fmtcolor" aria-hidden="true"></i>
                <h6>Integrity</h6>
                <p class="cv">Transparency and communication allowed us to discover which routes were possible to develop the sensor.</p>
            </div>
            <div id="fiu2" class="col-lg-6 text-center hide" data-animate="fadeInUp">
                <i class="fa fa-hand-peace-o fa-7x fmtcolor" aria-hidden="true"></i>
                <h6>Service Excellence</h6>
                <p class="cv">With this product, we hope to show current and future clients the potential of FMT's employees.</p>
            </div>
        </div>
    </div>

</section>

<!-- Adjust Temp Section-->
<section id="adjust" class="adjust-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Adjust Temperature</h1>
            </div>
        </div>
        <div class="row">
            <input class="dial" data-fgColor="#70C6FF" data-angleOffset=-125 data-angleArc=250 data-rotation="anticlockwise" value="70">
        </div>
        <div class="row">
            <button id="sendsms" type="button" class="btn btn-fmt2" value="sendsms" onclick="javascript: return sms();">Notify Us To Change</button>
        </div>
        <div class="row">
            <h1>Adjust Temperature Range for Auto SMS</h1>
        </div>
        <div class="row">

            <p>
                <label for="range">Temperature Range:</label>
                <input type="text" id="range" readonly style="border:0; color:#000000; font-weight:bold;" value="68°F - 75°F">
            </p>
            <div id="slider-range"></div>
            <br />
            <button id="configRange" type="button" class="btn btn-fmt" value="config" onclick="javascript: return changeTempRange();">Adjust Temperature Range</button>

        </div>
    </div>

</section>

<!-- Charts Section -->
<section id="charts" class="chart-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Temperature Readings</h1>
            </div>
        </div>
        <!--
        <div class="row">
            <p>
                <label for="range">Temperature Range:</label>
                <input type="text" id="range" readonly style="border:0; color:#000000; font-weight:bold;">
            </p>
            <div id="slider-range"></div>
            <br />
            <button id="configRange" type="button" class="btn btn-default" value="config" onclick="">Adjust Temperature Range</button>
        </div>

        <br />
        <div id="slider">
            <div id="custom-handle" class="ui-slider-handle"></div>
        </div>

        <!--
        <div>
            <button id="sendsmsHot" type="button" class="btn btn-danger" value="sendsms" onclick="javascript: return sms();">Too Hot?</button>
            <button id="sendsmsCold" type="button" class="btn btn-fmt" value="sendsms" onclick="javascript: return sms();">Too Cold?</button>
        </div>
        -->

        <div>
            <input id="lineButton" type="button" class="btn btn-fmt displaybutton" value="Line" />
            <input id="biButton" type="button" class="btn btn-fmt displaybutton" value="Bivariate" />
        </div>
        <div id="line" class="chartcontainer" style="display:none; font-size: 10px;">
            <svg id="line_chart" class="size" width="960" height="500"></svg>
        </div>
        <div id="bi" class="chartcontainer" style="display:none; font-size: 10px;">
            <svg id="bivariate" class="size" width="960" height="500"></svg>
        </div>
    </div>

</section>





