
<style>
    .bar {
      fill: steelblue;
    }

    .bar:hover {
      fill: brown;
    }

    .axis--x path {
      display: none;
    }
</style>
<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>FMT IoT Portal</h1>
                <p>The home portal for FMT's IoT Temperature Sensor</p>
                <a class="btn btn-default page-scroll" href="#charts">Scroll to Charts</a>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
<section id="charts" class="chart-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Chart Section</h1>
            </div>
            <div>
                <svg width="960" height="500"></svg>
            </div>
        </div>
    </div>
</section>




