
@*<style>
    .bar {
      fill: steelblue;
    }

    .bar:hover {
      fill: brown;
    }

    .axis--x path {
      display: none;
    }
</style>*@
<style>
   body {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
    .overlay {
      fill: none;
      pointer-events: all;
    }

    .focus circle {
      fill: none;
      stroke: steelblue;
    }

    .area {
      fill: steelblue;
    }
</style>
<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="~/Content/images/logo.png" style="padding-bottom: 20px">
                <p>The home portal for FMT's IoT Temperature Sensor</p>
                <a class="btn btn-default page-scroll" href="#charts">Scroll to Charts</a>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
<section id="charts" class="chart-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Chart Section</h1>
            </div>
            @*<div>
                <svg width="960" height="500"></svg>
            </div>*@
            <div>
                <svg id="line_chart" width="960" height="500"></svg>
            </div>
            <div>
                <svg id="bivariate" width="960" height="500"></svg>
            </div>
        </div>
    </div>
</section>





