

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.body-content{
    width: 100%;
}

.intro-section {
    height: 100%;
    width: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;

}

.chart-section {
    height: 200%;
    width: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.navbar-brand {
    background: url(./Content/images/logoTXT.png) no-repeat;
    background-size: 135px 35px;
    width: 135px;
    height: 35px;
    text-indent: -9999px;
}
